<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <header id="header">
        <a href="/admin" class="login_link">Login</a>
    </header>
    <section id="welcome">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_ul}}
        <input type="submit" value="Submit" id="form_submit_btn">
    </form>
    <p id="welcome_text"></p>
</section>
<p id="text">{{text}}</p>
    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

<!--
    xavieras1@gmail.com w marketo_leads został utworzony 31.10.2015 natomiast w Marketo 31.07.2015
    ostatnie aktywność w marketo_leads to 31.05.2022 natomiast w Marketo to 19.07.2022
    Ostatnia podpisana petycja w marketo_leads: 19.01.2022
-->