<footer id="footer">
    <div class="links-column">
        <ul class="links-column-ul">
            <li class="links-column-title">company</li>
            <li><a href="/">About us</a></li>
            <li><a href="/">Impact</a></li>
            <li><a href="/">Careers</a></li>
        </ul>
    </div>
    <div class="links-column">
        <ul class="links-column-ul">
            <li class="links-column-title">community</li>
            <li><a href="/">Press</a></li>
            <li><a href="/admin">Login or Register</a></li>
        </ul>
    </div>
    <div class="links-column">
        <ul class="links-column-ul">
            <li class="links-column-title">support</li>
            <li><a href="/">Help</a></li>
            <li><a href="/">Privacy</a></li>
            <li><a href="/">Terms</a></li>
            <li><a href="/">Cookies</a></li>
        </ul>
    </div>
    <div class="links-column">
        <ul class="links-column-ul">
            <li class="links-column-title">connect</li>
            <li><a href="/">Twitter</a></li>
            <li><a href="/">Facebook</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </div>
</footer>
<div id="copyright-section">
    <p class="copy">© 2022 CitizenGO</p>
</div>