<header id="header">
    <nav class="menu">
        <a href="/" class="logo">
            {% load static %}
            <img src="{% static 'images/logo.png' %}" alt="">
        </a>
        <a href="/about-us/" class="menu_element">About us</a>
        <a href="/victories/" class="menu_element">Victories</a>
        <a href="/donate/" class="menu_element">Donate</a>
        <a href="/join" class="menu_element">Join</a>
    </nav>
    <div class="left">
        <select id="language_selector">
            <option value="en" selected="1">English</option>
            <option value="de">Deutsch</option>
            <option value="es">Español</option>
            <option value="fr">Français</option>
            <option value="hr">Hrvatski</option>
            <option value="it">Italiano</option>
            <option value="pl">Polski</option>
            <option value="pt">Português</option>
            <option value="sk">Slovenčina</option>
            <option value="hu">Magyar</option>
            <option value="nl">Nederlands</option>
        </select>
        <a href="createPetition">Create a petition</a>
    </div>
</header>