{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
<header id="header">
    <span class="logo"></span>
    <nav class="navigation">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/admin">Login</a>
    </nav>
    <div class="date_and_time">
        <span class="date">{{day}} {{month}} {{year}}</span>
        <span class="time">{{time}}</span>
    </div>
</header>

{% block content %}

{% endblock %}

<footer id="footer">

</footer>
{% load static %}
    <script src="{% static 'js/script.js' %}"></script>