{% extends 'main.html' %}

{% block content %}
<div class="petition_container">
    <h1>{{ petition.title }}</h1>
    <div class="petition_image">
        <img src={{petition.image}} class="petition_image" />
    </div>
    <div class="petition_content">
        <div class="petition">
            <p>{{ petition.description }}</p>
            <p> {{petition.createDate}}</p>
        </div>
        <div class="petition_letter">
            <p>{{ petition.letter}}</p>
        </div>
    </div>
</div>
{% endblock %}