#text {
    display: flex;
    width: 50%;
    background-color: #d5f2db;
    color: #606060;
    padding: 10px;
    line-height: 1.4;
    font-size: 1.2rem;
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
    box-shadow: 0 -10px 10px #a6ffd3;
}