form {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 5px;
    margin: 15px 0 0;
    padding: $padding_btn;
    li {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    #form_submit_btn {
        padding: $padding_btn;
        border-radius: 5px;
        border: 2px solid #ccc;
        outline: #0063aa;
        margin-top: 15px;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
}