#header {
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    background-color: #ccc;
    margin: 0 auto;
    padding: 25px 0;
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: #363135;
        font-size: .8rem;
        font-weight: 700;
        align-self: flex-end;
    }
    .login_and_date {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        .date {
            font-size: .8rem;
        }
        .time {
            font-size: .8rem;
        }
        .login_link {
            text-transform: uppercase;
            text-decoration: none;
            color: #363135;
            font-size: .8rem;
            font-weight: 700;
        }
    }
    
}