#header {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    background-color: $header_bg;
    margin: 0 auto;
    padding: 25px 0;
    .logo {
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 220px;
        height: 150px;
        margin-left: 15px;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        a {
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            color: #fedb0b;
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: 1px;
            padding: 3px;
            text-align: center;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0%;
                width: 0;
                height: 100%;                
                border-radius: 5px;
            }
            &:hover::after {
                animation: animate_menu .3s ease-in-out both;
            }
        }
    }
    .date_and_time {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-right: 15px;
        .date {
            font-size: .8rem;
            color: #fedb0b;
        }
        .time {
            font-size: .8rem;
            color: #fedb0b;
        }
    }    
}
@keyframes animate_menu {
    100% {
        width: 100%;
        border-bottom: 1px solid #fedb0b;
        border-top: 1px solid #fedb0b;
    }
}