@import 'vars';
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    max-width: 1024px;
    margin: 0 auto;
    @import 'header';
    @import 'about/base';
    #welcome {
        display: flex;
        justify-content: space-between;
        background-color: aliceblue;
        @import 'form';
    }
    @import 'body';
    @import 'footer';
}